.employee-banner {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.unsplash.com/photo-1494346480775-936a9f0d0877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3403&q=80");
}

.banner {
  width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-banner {
  width: 100%;
  height: 60vh;
  background-color: #2969ca;
  padding-bottom: 100px
}

@media (max-width: 500px) {
  .banner_providers {
    padding: 70px 0;
  }
  .banner {
    padding: 70px 0;
  }
}

@media (min-width: 500px) {
  .banner_providers {
    padding: 150px 0;
  }
  .banner {
    padding: 150px 0;
  }
}

.home-banner {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url("https://res.cloudinary.com/cwhight/image/upload/v1586176478/9213EF22-AAEF-4102-AEB8-D9F6DDE934F6_1_201_a_vmxvv5.jpg");
}

.employer-banner {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80");
}

.large-title {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
}

.large-text {
  font-size: 32px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.process-box{
  padding: 32px;
  min-height: 65vh;
}

.alternative-background {
  background-color: white
}

.min-height {
  min-height: 50vh;
}

.features-heading{
  text-align: center;
  padding: 42px;
}

.sign-up-box {
  border-radius: 5px;
  height: 160px;
  width: 225px;
  text-align: center;
}

.process-heading {
  padding: 0px 0px 16px;
  font-size: 32px;
  text-align: center;
}

.sr-box {
  border-radius: 5px;
  height: 160px;
  width: 225px;
  text-align: center;
}

.sd-box {
  border-radius: 5px;
  height: 160px;
  width: 225px;
  text-align: center;
}

.number {
  font-size: 100px;
}

.sign-up-heading{
  text-align: center;
  padding: 42px;
  color: white;
}

.width100 {
  width: 100%;
}
