.employee-banner {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://res.cloudinary.com/cwhight/image/upload/v1587139670/employee-backgorund_a2j3ua.jpg");
}

.banner {
  width: 100%;
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-banner {
  width: 100%;
  height: 563px;
  background-color: #2969ca;
  padding-bottom: 100px
}

.home-banner {
  height: 85vh;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url("https://res.cloudinary.com/cwhight/image/upload/v1586176478/9213EF22-AAEF-4102-AEB8-D9F6DDE934F6_1_201_a_vmxvv5.jpg");
}

.employer-banner {
  background-size: cover;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://res.cloudinary.com/cwhight/image/upload/v1587229043/employer_background_cropped_zloqvm.jpg");
}

.large-title {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
}

.large-text {
  font-size: 32px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

@media (max-width: 500px) {
  .large-text {
    font-size: 16px;
  }

  .large-title {
    font-size: 48px
  }
}

.process-box{
  padding: 32px;
  min-height: 65vh;
}

.alternative-background {
  background-color: white
}

.min-height {
  min-height: 50vh;
}

.features-heading{
  text-align: center;
  padding: 42px;
}

.sign-up-box {
  border-radius: 5px;
  height: 160px;
  width: 225px;
  text-align: center;
}

.process-heading {
  padding: 0px 0px 16px;
  font-size: 32px;
  text-align: center;
}

.sr-box {
  border-radius: 5px;
  height: 160px;
  width: 225px;
  text-align: center;
}

.sd-box {
  border-radius: 5px;
  height: 160px;
  width: 225px;
  text-align: center;
}

.number {
  font-size: 100px;
}

.sign-up-heading{
  text-align: center;
  padding: 42px;
  color: white;
}

.width100 {
  width: 100%;
}

.blue-background {
  background-color: #2969ca;
}

.view-jobs-macbook {
  max-width: 60vw;
}

.green-text {
  color: #3DCC96
}

.perks-text {
  color: #CCCCCC
}
