
<div class="banner home-banner d-flex flex-column align-items-center justify-content-around">
  <div>
    <h1 class="congratulations text-center p-3">Thanks for signing up to Template!</h1>
    <h3 class="headline">Stay tuned for all our updates as we build up to launch</h3>
  </div>
</div>

