<!-- Banner -->
<div class="banner employer-banner d-flex align-items-center">
  <div class="container">
    <h1 class="large-title">Employer</h1>

    <p class="large-text">Find trusted, reviewed workers to fill shifts at the click of a button!</p>

    <div href="#" id="signup" class="clickable btn btn-sign-up"  data-toggle="modal" data-target="#signup_form">Sign up</div>
  </div>
</div>

<!-- Process -->
<div class="process-box alternative-background min-height">
  <h1 class="features-heading alternative-background">How it works</h1>
  <div class="row">
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center py-5 px-4">
      <div class="sign-up-box">
        <p class="number">1</p>
      </div>
      <h1 class="process-heading">Sign Up</h1>
      <p style="text-align:center;">It takes less than 2 minutes to create an account</p>
    </div>
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center py-5 px-4">
      <div class="sr-box">
        <p class="number">2</p>
      </div>
      <h1 class="process-heading">Advertise Shifts</h1>
      <p style="text-align:center;">Advertise shifts and select your favourite applicants</p>
    </div>
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center py-5 px-4">
      <div class="sd-box">
        <p class="number">3</p>
      </div>
      <h1 class="process-heading">Confirm Attendance</h1>
      <p style="text-align:center;">Workers are paid immeadiately at the end of their shift</p>
    </div>
  </div>
  <br>
</div>

<!-- Sign Up -->
<div class="d-flex flex-column justify-content-around bottom-banner">
  <div>
    <h1 class="sign-up-heading">Sign Up</h1>
    <div class="p-3 text-center">
      <div class="clickable w-50 btn btn-sign-up" data-toggle="modal" data-target="#signup_form">Sign Up</div>
    </div>
  </div>
  <%= render 'sign_ups/shared/sign_up_modal_form', sign_up: @sign_up %>
</div>


