<!-- Banner -->
<div class="banner employer-banner d-flex align-items-center">
  <div class="container">
    <h1 class="large-title">Employers</h1>

    <p class="large-text">Find trusted, reviewed workers to fill shifts at the click of a button!</p>

    <div href="#" id="signup" class="clickable btn btn-sign-up"  data-toggle="modal" data-target="#signup_form">Sign up</div>
  </div>
</div>

<!-- Process -->
<div class="process-box alternative-background min-height">
  <h1 class="features-heading alternative-background">How it works</h1>
  <div class="row">
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center py-5 px-4">
      <div class="sign-up-box">
        <p class="number green-text">1</p>
      </div>
      <h1 class="process-heading">Sign Up</h1>
      <p style="text-align:center;">It takes less than 2 minutes to create an account</p>
    </div>
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center py-5 px-4">
      <div class="sr-box">
        <p class="number green-text">2</p>
      </div>
      <h1 class="process-heading">Advertise Shifts</h1>
      <p style="text-align:center;">Advertise shifts and select your favourite applicants</p>
    </div>
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center py-5 px-4">
      <div class="sd-box">
        <p class="number green-text">3</p>
      </div>
      <h1 class="process-heading">Confirm Attendance</h1>
      <p style="text-align:center;">Workers are paid when you confirm their attendance</p>
    </div>
  </div>
  <br>
</div>



<!-- Screenshot - Advertise shifts -->
<div class="container-fluid alternative-background">
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-8 d-flex">
      <%= image_tag "view_shifts_macbook.png", class: 'view-jobs-macbook mr-auto pl-5' %>
    </div>
    <div class="col-4 d-flex align-content-center flex-wrap">
      <h1 class="pr-5">Advertise as many shifts as you like</h1>
      <ul class="list-inline pr-5 py-4 col-12">
        <li><h4 class="py-1">✅&nbsp;&nbsp; For any location</h4></li>
        <li><h4 class="py-1">✅&nbsp;&nbsp; For any role</h4></li>
        <li><h4 class="py-1">✅&nbsp;&nbsp; For any business</h4></li>
      </ul>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>



<!-- Payment Process -->



<!-- Sign Up -->

<!-- ////////////////////////////// -->



<!-- Benefits -->
<div class="container-fluid d-flex flex-column min-height blue-background py-5">
  <div class="p-5">
    <h1 class="text-white text-center">Perks of using Template</h1>
  </div>

  <div class="py-3 row d-flex align-items-start justify-content-around text-white">
    <div class="col-12 col-md-6 col-lg-4 px-4 d-flex">
      <i class="fas fa-arrows-alt green-text fa-4x col-3"></i>
      <div class="col-9">
        <h3 class="text-light">Flexible</h3>
        <p class="perks-text">You're in complete control! There are no agencies and so you can pick exactly who you want and list your own requirements</p>
      </div>
    </div>
  </div>

  <div class="py-3 row d-flex align-items-start justify-content-around text-white">
    <div class="col-12 col-md-6 col-lg-4 px-4 d-flex">
      <i class="fas fa-hand-pointer green-text fa-4x col-3"></i>
      <div class="col-9">
        <h3 class="text-light">Easy to Use</h3>
        <p class="perks-text">Have specific requirements? Need them to have a CRB check? Make this a requirement when sharing the shift</p>
      </div>
    </div>
  </div>

  <div class="py-3 row d-flex align-items-start justify-content-around text-white">
    <div class="col-12 col-md-6 col-lg-4 px-4 d-flex">
      <i class="fas fa-user-slash  green-text fa-4x col-3"></i>
      <div class="col-9">
        <h3 class="text-light">Speed</h3>
        <p class="perks-text">There are no agencies and you talk directly to the worker through our chat system making the whole process quicker</p>
      </div>
    </div>
  </div>

  <div class="py-3 row d-flex align-items-start justify-content-around text-white">
    <div class="col-12 col-md-6 col-lg-4 px-4 d-flex">
      <i class="fas fas fa-money-bill-alt green-text fa-4x col-3"></i>
      <div class="col-9">
        <h3 class="text-light">Easy Payment</h3>
        <p class="perks-text">Money is sent to the employee at their end of their shift after you've confirmed their attendance</p>
      </div>
    </div>
  </div>

  <div class="py-3 row d-flex align-items-start justify-content-around text-white">
    <div class="col-12 col-md-6 col-lg-4 px-4 d-flex">

      <i class="fas fas fa-check-circle green-text fa-4x col-3"></i>
      <div class="col-9">
        <h3 class="text-light">Quality Staff</h3>
        <p class="perks-text">Shift workers are reveiwed by other users so you can see if they have a good track record</p>
      </div>
    </div>
  </div>
</div>

<!-- Screenshot - Find Shifts -->
<div class="container-fluid d-flex flex-column min-height blue-background pt-5">
  <div class="row justify-content-around">
    <div class="col-12 col-sm-8 col-lg-4 d-flex align-content-center flex-wrap seeker-ticks">
      <h1 class="text-white pl-5">Filter applicants based on your requirements</h1>
      <ul class="text-right list-inline pl-5 py-4 col-12">
        <li><h4 class="text-white py-1">Right to Work &nbsp;&nbsp;✅</h4></li>
        <li><h4 class="text-white py-1">CRB Check &nbsp;&nbsp;✅</h4></li>
        <li><h4 class="text-white py-1">Prior Sector Experience &nbsp;&nbsp;✅</h4></li>
        <li><h4 class="text-white py-1">Empoloyee Rating &nbsp;&nbsp;✅</h4></li>
        <li><h4 class="text-white py-1">Other Qualifications &nbsp;&nbsp;✅</h4></li>
      </ul>
    </div>
    <div class="col-12 col-lg-8 d-flex justify-content-around">
      <%= image_tag "view_jobs_macbook.png", class: 'view-jobs-macbook' %>
    </div>
  </div>

  <br>
  <br>
  <br>
</div>

<div class="process-box blue-background min-height text-white">
  <h1 class="features-heading text-white">Paying Staff</h1>
  <div class="row">
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center py-5 px-4">
      <div class="py-5">
        <i class="far fa-credit-card fa-5x green-text"></i>
      </div>
      <h1 class="text-white text-center">Add Card</h1>
      <p class="perks-text" style="text-align:center;">Add your business debit or credit card to your Template account so you can accept share shifts and accept applications to work those shifts</p>
    </div>
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center py-5 px-4">
      <div class="py-5">
        <i class="fas fa-user-check fa-5x green-text"></i>
      </div>
      <h1 class="text-white text-center">Accept Applicant</h1>
      <p class="perks-text" style="text-align:center;">When you accept your favourite applicant a block is placed on your card to cover their pay for that individual shift</p>
    </div>
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center py-5 px-4">
      <div class="py-5">
        <i class="fas fa-briefcase fa-5x green-text"></i>
      </div>
      <h1 class="text-white text-center">Confirm Completion</h1>
      <p class="perks-text" style="text-align:center;">Once you have confirmed that the shift has been completed the money is sent straight to the worker's account</p>
    </div>
  </div>
  <br>
</div>

<!-- Sign Up -->
<div class="d-flex flex-column justify-content-around bottom-banner">
  <div>
    <h1 class="sign-up-heading">Sign Up</h1>
    <div class="p-3 text-center">
      <div class="clickable w-50 btn btn-sign-up" data-toggle="modal" data-target="#signup_form">Sign Up</div>
    </div>
  </div>
  <%= render 'sign_ups/shared/sign_up_modal_form', sign_up: @sign_up %>
  <br>
  <br>
</div>


