<!-- Banner -->
<div class="banner align-self-center">
  <div class="container">
    <h1>Job Seekers</h1>
    <br>
    <br>
    <p>Find shifts at the click of a button!</p>
    <br>
    <br>
    <div href="#" id="signup" class="clickable btn btn-sign-up"  data-toggle="modal" data-target="#signup_form">Sign up</div>
    <br>
  </div>
</div>

<!-- Process -->
<div class="process-box alternative-background min-height">
  <h1 class="features-heading alternative-background">How it works</h1>
  <div class="row">
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center py-5 px-4">
      <div class="sign-up-box">
        <p class="number">1</p>
      </div>
      <h1 class="process-heading">Sign Up</h1>
      <p style="text-align:center;">It takes less than 2 minutes to create an account</p>
    </div>
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center py-5 px-4">
      <div class="sr-box">
        <p class="number">2</p>
      </div>
      <h1 class="process-heading">Apply For Shifts</h1>
      <p style="text-align:center;">Seach for shifts and pick those that work best for you</p>
    </div>
    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-center py-5 px-4">
      <div class="sd-box">
        <p class="number">3</p>
      </div>
      <h1 class="process-heading">Get Work</h1>
      <p style="text-align:center;">Go to the shifts you're successfully selected for</p>
    </div>
  </div>
  <br>
</div>

<!-- Sign Up -->
<h1 class="sign-up-heading">Sign Up</h1>
<br>
<div class="container align-items-center">
  <div class="form-inputs sign-up-page-form">
    <div class="p-3">
      <div>
        <div class="clickable w-100 btn btn-sign-up" data-toggle="modal" data-target="#signup_form">Sign Up</div>

      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%= render 'sign_ups/shared/sign_up_modal_form', sign_up: @sign_up %>
