<div class="banner home-banner d-flex flex-column align-items-center justify-content-around">
  <div>
    <h1 class="headline p-3 full">The quickest and easiest way to find short term work that suits your lifestyle.</h1>
    <h2 class="headline mob">The quickest and easiest way to find short term work that suits your lifestyle.</h2>
    <div class="p-5 d-flex justify-content-center">
      <div href="#" class="clickable btn btn-sign-up w-50"  data-toggle="modal" data-target="#signup_form">Sign up</div>
    </div>
    <div class="col-12 full justify-content-center full">
      <h3 class="headline p-3">Launching soon - Sign up now for future discounts!</h3>
    </div>
  </div>
</div>

</div>
  <%= render 'sign_ups/shared/sign_up_modal_form', sign_up: @sign_up %>
</div>




