<div class="container my-3 p-3 ">
  <div class="d-flex justify-content-around">
    <div class="">
        <br>
        <br>
        <br>
        <br>
        <br>
      <div class="row">
        <div class="col-12 full">
          <h1 class="headline p-3">The quickest and easiest way to find short term work that suits your lifestyle.</h1>
        </div>
        <div class="col-12 mob">
          <h3 class="headline">The quickest and easiest way to find short term work that suits your lifestyle.</h3>
        </div>
      </div>
      <div class="p-5 d-flex justify-content-center hide">
        <div href="#" id="" class="clickable btn btn-ghost">Learn more</div>
      </div>
      <div class="col-12 full justify-content-center hide">
        <h3 class="headline p-3">Launching soon - Sign up now for future discounts!</h3>
      </div>
      <div class="p-5 d-flex justify-content-center">
        <div href="#" class="clickable btn btn-sign-up w-50"  data-toggle="modal" data-target="#signup_form">Sign up</div>
      </div>
    </div>
    <%= render 'sign_ups/shared/sign_up_modal_form', sign_up: @sign_up %>
  </div>
</div>



