<footer class="footer d-sm-block text-center">
  <div class="w-100 d-flex">
    <div class="nav-link w-50" style="background-color: #D36135"></div>
    <div classs="footer-border w-50 border-2" style="background-color: black"></div>
  </div>
  <div class="d-flex justify-content-around">
    <div class="full p-3">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.templatejobs.co.uk" class="m-2 btn btn-flat">Share on Facebook <i class="ml-3 fab fa-facebook-square"></i></a>
      <a href="https://twitter.com/intent/tweet?text=http%3A//www.templatejobs.co.uk/" class="m-2 btn btn-twitter">Share on Twitter <i class="ml-3 fab fa-twitter"></i></a>
    </div>
    <div class="mob">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.templatejobs.co.uk" class="m-3 btn btn-flat"><i class="fab fa-facebook-square"></i></a>
      <a href="https://twitter.com/intent/tweet?text=http%3A//www.templatejobs.co.uk/" class="m-3 btn btn-twitter"><i class="fab fa-twitter"></i></a>
      <br>
    </div>
  </div>
</footer>
