<footer class="footer d-sm-block text-center">
  <div class="w-100 d-flex">
    <div class="w-50" style="padding-top: 10px; background-color: #D36135"></div>

  </div>
  <div class="d-flex justify-content-around">
    <div class="full p-3">


      <a href="https://www.facebook.com/TemplateJobs" class="m-2 btn btn-flat">Facebook <i class="ml-3 fab fa-facebook-square"></i></a>
      <a href="https://www.instagram.com/templatejobs/" class="m-2 btn btn-instagram">Instagram <i class="ml-3 fab fa-instagram"></i></a>
      <a href="mailto:hello@templatejobs.co.uk" class="m-2 btn btn-email">Email<i class="ml-3 fa fa-envelope-square"></i></a>



    </div>
    <div class="mob">
      <a href="https://www.facebook.com/TemplateJobs" class="m-3 btn btn-flat"><i class="fab fa-facebook-square"></i></a>
      <a href="https://www.instagram.com/templatejobs/" class="m-3 btn btn-instagram"><i class="fab fa-instagram"></i></a>
      <a href="mailto:hello@templatejobs.co.uk" class="m-3 btn btn-email"><i class="fa fa-envelope-square"></i></a>
      <br>
    </div>
  </div>
</footer>
