<div class="fixed-top d-flex text-right justify-content-between transparent-nav" id="full-nav">
  <div>
    <%= link_to image_tag("https://res.cloudinary.com/dt02hu2ll/image/upload/v1574099382/Template_Logo_V1_evmfvp.png"), root_path, class: "navbar-brand px-2 pt-2"  %>
  </div>
  <div class="d-flex text-right align-items-center">

      <%= link_to 'Job Seekers', seeker_path, class: "nav-link pt-1 h-100"  %>

      <%= link_to 'Employers', provider_path, class: "nav-link pt-1 h-100" %>

      <div href="#" id="signup" class="mx-2  clickable btn btn-sign-up"  data-toggle="modal" data-target="#signup_form">Sign up</div>


  </div>
</div>

