<div class="fixed-top d-flex text-right justify-content-between navbar-expand-sm transparent-nav">
  <a class="pl-5" href="#">
    <%= cl_image_tag "https://res.cloudinary.com/dt02hu2ll/image/upload/v1574099382/Template_Logo_V1_evmfvp.png", alt: "alttext", height: 60, class: 'logo'%>
  </a>
  <div></div>
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto d-flex justify-content-end">
      <li class="nav-item">
        <%= link_to 'Job Seekers', root_path, class: "nav-link pl-3"  %>
      </li>
      <li class="nav-item">
        <%= link_to 'Employers', root_path, class: "nav-link pl-3" %>
      </li>
      <li class="nav-item pr-5 pl-3" id="signup">
        <div href="#" id="signup" class="clickable btn btn-sign-up"  data-toggle="modal" data-target="#signup_form">Sign up</div>
      </li>
    </ul>
  </div>
</div>


