<div class="fixed-top d-flex text-right justify-content-between transparent-nav">
<div></div>
  <div class="d-flex text-right align-items-end">

      <%= link_to 'Job Seekers', seeker_path, class: "nav-link"  %>

      <%= link_to 'Employers', provider_path, class: "nav-link" %>

      <div href="#" id="signup" class="mx-2 clickable btn btn-sign-up"  data-toggle="modal" data-target="#signup_form">Sign up</div>


  </div>
</div>

