<div class="d-flex justify-content-between fixed-top navbar navbar-top-mobile py-1" id="mob-nav">

  <div class="" >
    <%= link_to '', root_path , class: "fas fa-home mob-home" %>
  </div>

  <div class="">

    <%= image_tag "", class: "fas top-navlink dropdown-toggle top-nav-dropdown", id: 'navbarDropdown', data: {toggle: 'dropdown'}, 'aria-haspopup': false, 'aria-expanded': false %>
    <div class="dropdown-box dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

        <%= link_to 'Job Seekers', seeker_path, class: "dropdown-item" %>
        <%= link_to 'Employers', provider_path, class: "dropdown-item" %>

    </div>

  </div>
</div>
